body {
  margin-top: 90px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.2rem; }

#showcase {
  position: relative;
  background: url(/book_webdev/img/mountains.jpg);
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: lightgray; }

#authors img {
  margin-top: -75px;
  border: 5px solid #fff; }
#authors .card:hover {
  background: rgba(50, 146, 166, 0.8);
  color: #fff; }
#authors .fa {
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }

  .mb-resp {
    margin-bottom: 1rem; }

  #contact img {
    display: none; } }
